/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
@font-face {
    font-family: 'Norse';
    src: url(./Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    --btn-colour: #685595;
    /* --font-colour: hsl(0, 0%, 96.5%); */
    --font-colour: black;}

#main-container {
    display: flex;
}

.background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.img-sidebar {
    height: 100vh;
    width: 40vw;
    background: url(./simone-hutsch-img.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* padding-bottom: 8px; */
}

.background-credit, a, a:visited {
    color: white;
    text-align: center;

}

.logo-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 8px;
}

.logo {
    font-family: 'Norse', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    /* letter-spacing: -0.13em; */
    letter-spacing: -0.2rem;
    padding: 30px 0;
}

.logo-wrapper > img {
    width: 50px;
    height: auto;
}

.main-section {
    background-color: hsl(0, 0%, 96.5%);
    display: flex;
    flex-basis: 60vw;
    flex-direction: column;
    align-items: start;
    font-size: 2rem;

}

.text {
    font-size: 1.8rem;
    color: var(--font-colour);
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 150px 50px 60px;
}

#sign-up-form {
    width: 100%;
}

.form-fields {
    width: 100%;
    background-color: white;
    box-shadow: 0px 12px 6px rgba(0, 0, 0, 0.2);
    padding: 24px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.form-heading {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.row {
    
    display: flex;
    gap: 64px;
    
}

label:first-child {
    font-size: 0.65rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.input-field {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid #E5E7EB;
    width: 250px;
    line-height: 24px;
    padding:2px 4px;
    font-size: 1.2rem;
}

input:focus {
    border: 3px var(--btn-colour) solid;
    outline: none;
    box-shadow: 0 4px 8px var(--btn-colour);
}

.invalid {
    border: 2px red solid;
}

.error-message {
    color: red;
    font-size: 1rem;
    padding: 1px 0;
    visibility: hidden;
}

.submit {
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 12px;
    border: 2px solid var(--btn-colour);
    background-color: var(--btn-colour);
    color: white;
    margin: 48px;
    transition: 0.3s all;
}

.submit:hover {
    background-color: transparent;
    color: var(--btn-colour)
}

.submit:active {
    padding: 13px 37px;
}


.sign-in-prompt {
    margin: 0 48px;
}

.sign-in-prompt > a,
.sign-in-prompt:visited {
    color: var(--btn-colour);
}